= simple_form_for student do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :birthdate, as: :date, start_year: Date.today.year - 12,
                          end_year: Date.today.year - 110,
                          order: [:day, :month, :year],
                          prompt: "Select",
                          label: "Date of birth"
  = f.association :subject_items, label_method: :title, value_method: :id, label: 'Subject Items', as: :check_boxes
  = link_to t('shared.back'), students_path, class: 'btn btn-default'
  = f.button :submit
